<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{$page_title}</title>
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/4.0/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/base.css">
  <script type="text/javascript" src="{$plugin_path}/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/mwt/4.0/mwt.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/requirejs/2.1.9/require.js"></script>
</head>
<body>
<script>
var dz = {
    siteurl    : '$_G['siteurl']',
    pluginpath : '{$plugin_path}',
    ajaxapi    : '{$plugin_path}/index.php?version=4&module=',
    seccodeurl : '{$plugin_path}/index.php?version=4&module=seccode'
};
</script>

